<div class="top-row px-4 text-right">
    <ul class="list-inline float-right">
        <li class="list-inline-item"><a href="https://github.com/paulepps"><i class="fa fa-github"></i> GitHub</a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/paulepps/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    </ul>
</div>
